.app {
  width: 100%;
  max-width: 540px;
  margin: 50px auto;
  background-color: rgb(218, 26, 218);
  border-radius: 20px;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 32px;
  padding: 30px 0 20px;
}

.input-wrap {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.contents {
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  min-height: 70vh;
}

.list-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.input-add {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background: #f9f9f9;
  outline: none;
  flex: 1;
  box-shadow: inset 0 0 0 1px #ddd;
}

.input-add:focus {
  box-shadow: inset 0 0 0 2px #ddd;
  background: #f0f0f0;
}

.btn {
  padding: 12px 20px;
  background: rgb(218, 26, 218);
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid rgba(218, 26, 218, 0.411);
  transition: 0.3s all ease;
}

.btn:hover {
  background: rgb(194, 19, 194);
}

.todo-list li {
  background: #f9f9f9;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
  transition: 0.3s all ease;
  position: relative;
}

.todo-list li:hover {
  background-color: #fff5fd;
  border-color: rgb(218, 26, 218);
}

.empty-list {
  text-align: center;
  color: #666;
  font-size: 18px;
  padding: 20px 30px
}

.delete-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: #999;
  background: transparent;
  font-size: 20px;
}

.todo-list li:has(input:checked) {
  background: #ffcef0;
}

.filter-wrap {
  margin-bottom: 20px;
  display: flex;
  gap: 10px
}

.filter-btn {
  padding: 7px 16px;
  background: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}

.filter-btn.active {
  background: rgb(218, 26, 218);
  color: #fff;
  border-color: #ffcef0;
}

.edit-btn {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: #999;
  background: transparent;
  font-size: 16px;
}

.save-btn {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(218, 26, 218);
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 3px 10px;
  font-size: 14px;
}

.cancel-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: #e4e4e4;
  color: #333;
  border: none;
  border-radius: 15px;
  padding: 3px 10px;
  font-size: 14px;
}

.edit-input {
  width: calc(100% - 100px);
  padding: 6px 10px;
  border: 1px solid rgb(218, 26, 218);
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}